.label {
    width: 156px;
    cursor: pointer;
    font-weight: bold;
    color: blue;
    letter-spacing: 1px;
    padding: 12px 12px 12px 0;
}
.field {
    margin-left: 15px;
}

.show {
    font-family:"Brush Script MT", cursive;
    font-size: 25px;
    color: rgb(12, 187, 70);
}