button {
    display: inline-block;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgb(123, 26, 153);
    border: none;
    border-radius: 15px;
    box-shadow: 0 6px rgb(153, 153, 153);
    background-color: #3eb2c7;
    margin-right: 5px;
  }