<div class="wrapper">
    <header class="header">
     <span>BIRDWATCHING</span>
     <img class="logo" src="/assets/dove.png">
    
     <div class="navbar">
       
          <a href="#">HOME</a>
          <a href="#">GET STARTED</a>
          <a href="#">PHOTOS</a>
          <a href="#">GEAR</a>
          <a href="#">FORUM</a>
        
      </div>
    </header>
    <hr class="line">
    <div class="main_content">
        <div class="title">
        <h5>WELCOME</h5>
         <p>
            Welcome to our fake birdwatching site.
    
         </p>
        </div>
            <div class="container">
                  <h5>FAVOURITE <br> PHOTOS</h5>  
                <div class="image_sidebar">
                    
                       <div class="item-1"><img src="/assets/favorite-1.jpg" class="img_sidebar"></div> 
                       <div class="item-2"><img src="/assets/favorite-2.jpg" class="img_sidebar"></div>
                       <div class="item-3"><img src="/assets/favorite-3_th.jpg" class="img_sidebar"></div>
                       <div class="item-4"><img src="/assets/favorite-4.jpg" class="img_sidebar"></div>
    
                </div>
            </div>
    </div>
    <hr class="line">
    <footer class="footer">
    <p>This fake website is example is CCO - any part of this code may be reused in any way you wish. Original example written by 
        Chris Millis,2016.</p>
    <br>
    <u>Dove icon</u> by Lorc.
    
    </footer>
    
    </div>
