<div class="wrapper">
    <div class="navbar">
        <a routerLink="/home" class="active">HOME</a>
        <a routerLink="/signup">Employee Form</a>
        <a routerLink="/birdwatching">BirdWatching Gallery</a>
        <a routerLink="/employee">Employees</a>
    </div>

    <header class="header">
     Home
    </header>

    <hr class="line">

    <div class="main_content">
        <div class="title">
        <h3>WELCOME</h3>
        <p>
         You're @home page.
        </p>
        </div>
    </div>
    
    <hr class="line">

    <footer class="footer">
    <u>Home page</u> by Neetu.
    </footer>
    
</div>

